.headerall nav ul {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding: 0;
    margin: 0;
}

.headerall nav ul li {
    list-style: none;
    padding: 0.5rem;
}

.headerall nav ul li a {
    text-decoration: none;
    font-size: 2.5vh;
    font-weight: 400;
    color: white;
    transition: 0.3s;
}

.headerall nav ul li a:hover {
    color: var(--primary-color);
}